.container {
    margin: auto;
    width: 300px;
    height: 300px;
    text-align: center;
}

.operators {
    display: inline-block;
    border: black solid 6px;
    height: 36px;
    width: 36px;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
}
button { 

}

.time-input {
    text-align: center;
    font-size: 30px;
    width: 25%;
}